mixin range-sliders(modifier)
	section.range-sliders&attributes(attributes)
		.range-slider
			h3.range-slider__title Price Range
			.range-slider__slider#range-slider-price
			.range-slider__inputs
				label.range-slider__label
					input.range-slider__input#input-price-min(type="number" min="0" max="9999")
					span.range-slider__count $
				label.range-slider__label
					input.range-slider__input#input-price-max(type="number" min="0" max="9999")
					span.range-slider__count $

		.range-slider
			h3.range-slider__title ТНС, %
			.range-slider__slider#range-slider-thc
			.range-slider__inputs.range-slider__inputs--interest
				label.range-slider__label
					input.range-slider__input#input-thc(type="number" min="0" max="100")
					span.range-slider__count %

		.range-slider
			h3.range-slider__title CBD, %
			.range-slider__slider#range-slider-cbd
			.range-slider__inputs.range-slider__inputs--interest
				label.range-slider__label
					input.range-slider__input#input-cbd(type="number" min="0" max="100")
					span.range-slider__count %
		.radio-scale
			h3.radio-scale__title Nose
			.radio-scale__block
				label.radio-scale__label(for="lvl-1") 
				input.visually-hidden#lvl-1(type="radio" name="scale" valie="1")

				label.radio-scale__label(for="lvl-2") 
				input.visually-hidden#lvl-2(type="radio" name="scale" valie="2")

				label.radio-scale__label(for="lvl-3") 
				input.visually-hidden#lvl-3(type="radio" name="scale" valie="3")

				label.radio-scale__label(for="lvl-4") 
				input.visually-hidden#lvl-4(type="radio" name="scale" valie="4")

				label.radio-scale__label(for="lvl-5") 
				input.visually-hidden#lvl-5(type="radio" name="scale" valie="5" checked)

				label.radio-scale__label(for="lvl-6") 
				input.visually-hidden#lvl-6(type="radio" name="scale" valie="6")

				label.radio-scale__label(for="lvl-7") 
				input.visually-hidden#lvl-7(type="radio" name="scale" valie="7")

				label.radio-scale__label(for="lvl-8") 
				input.visually-hidden#lvl-8(type="radio" name="scale" valie="8")

				label.radio-scale__label(for="lvl-9") 
				input.visually-hidden#lvl-9(type="radio" name="scale" valie="9")

				label.radio-scale__label(for="lvl-10") 
				input.visually-hidden#lvl-10(type="radio" name="scale" valie="10")
			.radio-scale__block-bottom
				span min 
				span max