/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	appearance: textfield;
}

.range-sliders {
    padding: 7px 35px 0;
    display: flex;
}

.range-slider {
    width: 225px;
    margin-right: 27px;
}

.range-slider__title {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 22px;
}

.noUi-target {
    height: 4px;
    border: none;
    box-shadow: none;
    border-radius: 3px;
    background-color: #30303D;
    margin-bottom: 14px;
}

.noUi-connect {
    background-color: #7ACB22;
}

.noUi-horizontal .noUi-handle {
    background: linear-gradient(#85D62D, #6BAB2B);
    width: 16px;
    height: 16px;
    box-shadow: none;
    border-radius: 50%;
    border: none;
    top: -6px;
    right: -7px;
    cursor: pointer;

    &::before,
    &::after {
        display: none;
    }
}

.noUi-horizontal .noUi-tooltip {
    padding: 3px 21px 2px 8px;
    bottom: 170%;
    background-color: #30303D;
    color: #fff;
    border: none;

    &::before {
        content: "$";
        position: absolute;
        right: 6px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 5px;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 5px solid #30303D;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }
}

#range-slider-thc,
#range-slider-cbd {
    .noUi-tooltip::before {
        content: "%";
    }
}

.range-slider__inputs {
    display: flex;
    justify-content: space-between;

    &--interest {
        justify-content: flex-end;

        .range-slider__input {
            width: 41px;
        }
    }
}

.range-slider__label {
    position: relative;
}

.range-slider__input {
    background-color: #212129;
    border: 1px solid #606060;
    height: 20px;
    width: 55px;
    color: #959595;
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    line-height: 22px;
    border-radius: 3px;
    text-align: end;
    padding-right: 16px;
    letter-spacing: 0.02em;
}

.range-slider__count {
    position: absolute;
    color: #959595;
    right: 5px;
    font-size: 14px;
}

.radio-scale {
    margin-right: auto;
}

.radio-scale__title {
    font-size: 16px;
    padding-top: 7px;
    margin-bottom: 6px;
}

.radio-scale__block {
    display: flex;
    align-items: flex-end;
}

.radio-scale__label {
    width: 11.4px;
    height: 20px;
    display: block;
    cursor: pointer;

    &::before {
        content: "";
        display: block;
        width: 4px;
        height: 100%;
        background-color: #cfcc5c;
        transition: background-color .3s;
    }

    &:nth-of-type(5n) {
        height: 26px;
    }

    &:last-of-type {
        width: 4px;
    }
}

.radio-scale__block input:checked ~ .radio-scale__label::before {
    background-color: #297019;
}

.radio-scale .radio-scale__block:hover .radio-scale__label::before {
    background-color: #cfcc5c;
}

.radio-scale .radio-scale__block input:hover ~ .radio-scale__label::before {
    background-color: #297019;
}

.radio-scale__block-bottom {
    display: flex;
    justify-content: space-between;

    span {
        font-size: 12px;
        line-height: 16px;
        color: #959595;
    }
}

.dropdown {
    position: relative;
    margin-top: 17px;
    margin-right: 3px;
}

.dropdown__btn {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 10px;
    background-color: #353542;
    background-image: linear-gradient(#84D52C5C, #17172200);
    padding: 1px;
    cursor: pointer;
}

.dropdown__btn-inner {
    background-color: #353542;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-bottom: 1px;
}

.dropdown__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    display: block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #212129;
    padding: 20px;
    top: 65px;
    right: 0;
    border-radius: 10px;

    &--show {
        display: block;
    }
}

.dropdown__sort-btn {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;

    &:last-of-type {
        margin-bottom: 0;
    }

    svg {
        margin-right: 10px;
    }

    span {
        white-space: nowrap;
    }
} 