mixin range-sliders(modifier)
	section.range-sliders&attributes(attributes)
		.range-slider
			h3.range-slider__title Price Range
			.range-slider__slider#range-slider-price
			.range-slider__inputs
				label.range-slider__label
					input.range-slider__input#input-price-min(type="number" min="0" max="9999")
					span.range-slider__count $
				label.range-slider__label
					input.range-slider__input#input-price-max(type="number" min="0" max="9999")
					span.range-slider__count $

		.range-slider
			h3.range-slider__title ТНС, %
			.range-slider__slider#range-slider-thc
			.range-slider__inputs.range-slider__inputs--interest
				label.range-slider__label
					input.range-slider__input#input-thc(type="number" min="0" max="100")
					span.range-slider__count %

		.range-slider
			h3.range-slider__title CBD, %
			.range-slider__slider#range-slider-cbd
			.range-slider__inputs.range-slider__inputs--interest
				label.range-slider__label
					input.range-slider__input#input-cbd(type="number" min="0" max="100")
					span.range-slider__count %