.header {
  display: flex;
  padding: 22px 36px;
  align-items: center;
}

.header__logo-link {
  display: flex;
  padding-top: 3px;
  margin-right: 17px;
}

.header__search-form {
  position: relative;
  display: flex;
}

.header__search-field {
  height: 48px;
  min-width: 469px;
  padding-left: 48px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #959595;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-family: 'proxima-nova', sans-serif;
  letter-spacing: 0.01em;
  margin-right: 16px;

  &::placeholder {
    color: #959595;
  }
}

.header__search-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  left: 20px;
  z-index: -10;
}

.header__label {
  position: relative;
  height: 48px;
  background-color: #353542;
  background-image: linear-gradient(#84D52C5C, #17172200);
  display: block;
  padding: 1px;
  margin-right: 10px;
  border-radius: 10px;
  letter-spacing: 0.02em;
  cursor: pointer;

  svg {
    position: absolute;
    top: 12px;
    left: 21px;
  }

  span {
    background-color: #353542;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    padding: 0 18px 0 53px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }
}

.header__checkbox:checked + .header__label {
  box-shadow: 0 3px 15px 0 #84D52C33;

  span {
    background-color: #212129;
  }
}
