mixin header(modifier)
  header.header&attributes(attributes)
    a.header__logo-link(href="#"): img.header__logo(src="./assets/media/logo.svg" alt="Logo")
    form.header__search-form
      input.header__search-field(type="text" placeholder="Search for a product, flower, etc")
      .header__search-svg
        svg(viewBox="0 0 24 24" width="24" height="24")
          use(href="./assets/icons/default/sprite.svg#search" x="0" y="0")
