.header {
  display: flex;
  padding: 22px 36px;
  align-items: center;
}

.header__logo-link {
  display: flex;
  padding-top: 3px;
  margin-right: 17px;
}

.header__search-form {
  position: relative;
}

.header__search-field {
  height: 48px;
  min-width: 469px;
  padding-left: 48px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #959595;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-family: 'proxima-nova', sans-serif;
  letter-spacing: 0.01em;

  &::placeholder {
    color: #959595;
  }
}

.header__search-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  left: 20px;
  z-index: -10;
}
