@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;

body {
  background-color: #171722;
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__header {
    top: 0;
  }

  &__main {
    flex-grow: 1;
  }

  &__footer {
    margin-top: auto;
  }
}

@import '../../../sections/header/header.scss';
@import '../../../sections/sliders/sliders.scss';
