@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #171722;
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__header {
    top: 0;
  }

  &__main {
    flex-grow: 1;
  }

  &__footer {
    margin-top: auto;
  }
}

@import '../../../sections/header/header.scss';
@import '../../../sections/range-sliders/range-sliders.scss';
@import '../../../sections/options/options.scss';
